/* Customizing App.css by self */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Libre+Franklin:ital,wght@0,100;1,100&family=Licorice&family=Oooh+Baby&family=Poppins:ital,wght@1,200&family=Roboto+Serif:wght@200&family=Roboto:ital,wght@1,300&display=swap');

body{
  font-family: 'Roboto Serif', sans-serif;
  background-color: rgb(225 207 255 / 80%)
}
label{
  font-size: .8rem;
}
input.form-control, input.form-control:focus{
  background: #F0F0FF;
  
}
ul, a, li{
  text-decoration: none;
}
.error{
  position: absolute;
  color: rgb(224, 22, 22);
  font-size: .5rem;
}


